{% extends "base/base.html.twig" %}

{% block style %}
    {{ parent() }}
    <link href="public/css/inscriptionBootstrap.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">
{% endblock %}


    {% block title %}Inscription{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ form_start(form, {
            'attr' : {
                'novalidate' : 'novalidate',
                'class': 'form-signin'
            }
        }) }}
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label class="sr-only">First Name</label>
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}
            <label class="sr-only">Last Name</label>
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname) }}
            <label for="inputEmail" class="sr-only">Email address</label>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
            <label class="sr-only">Password</label>
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        {{ form_end(form) }}
    </main>

{% endblock %}
