{% extends "base/base.html.twig" %}

{% block style %}
    {{ parent() }}
    <link href="../../public/css/floating-labels.css" rel="stylesheet">
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}


    {% block title %}Inscription E-Twit{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ form_start(form, {
            'attr' : {
                'novalidate' : 'novalidate',
                'class': 'form-signin'
            }
        }) }}
        <br>
        <div class="container" style="background-color: rgba(0,0,0,0.10); border-radius : 6px">
            <br>
            <h1><i class="fas fa-user"></i> Crée ton compte</h1>
            <h1 class="h3 mb-3 font-weight-normal">Remplissez les champs ci-dessous</h1>
            <hr>
            <br>
            <label class="sr-only">Nom</label>
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}
            <br>
            <label class="sr-only">Prénom</label>
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname) }}
            <br>
            <label for="inputEmail" class="sr-only">Adresse email</label>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
            <br>
            <label class="sr-only">Mot de passe</label>
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
            <br>
        {{ form_end(form) }}
            <br>
        </div>
    </main>

{% endblock %}
